*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
                        /* HEADER */
/* Sfondo Header */
header{
    background-image: url(img/jumbo.png);
    background-size: cover;
    background-position: center;   
}

/* Proprieta Flex */
.container-flex{
    display: flex;
    justify-content: space-between;
}

/* Posizione occupata nello schermo */
.position{
    width: 80%;
    margin: auto;
    margin-bottom: 8%;
}

/* Lista di slezione opzioni  */
.main-menu{
    list-style: none;
    display: flex;
    color: white;
}
.main-menu>li{
    margin: 5px;
}

/* Bottone Per Accedere */
.login{
    padding: 10px;
    border-radius: 20px;
    border: 0px;
}
/* Il tuo posto per parlare */
.Place-to-talk{
    text-align: center;
    color: white;
    width: 50%;
    margin: auto;
}

/* Stile dei pulsanti di scaricamento e Browser Discord */
.download{
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 8%;
    border: 0 solid;
    border-radius: 20px;
    
}
.mac::before{
    content: "\1F817";
    margin-right: 5px;
}
.browser{
    background-color: black;
    color: white;
}

                        /* MAIN */

.content-flex{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    font-size: 25px;
    margin-top: 200px;
    margin-bottom: 200px;
}

.reverse-row{
    flex-direction: row-reverse;
}

.column{
    flex-direction: column-reverse;
    text-align: center;
}

.ready-to-adventure{
    font-weight: bold;
    font-size: 30px;
   
}

                        /* FOOTER */
footer{
    background-color: rgb(0, 0, 67);
}
.footer-flex{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 70px;
}

/* Link Social */

footer h2{
    color: blueviolet;
    font-size: 40px;
    margin-bottom: 25px;
}
.bandiera{
    margin-bottom: 25px;
}
.bandiera>img{
    width: 10%;
    height: 10%;
}
.lingua{
    display: inline-block;
    font-size: 25px;
}

.lingua>span{
    font-size: 15px;
}

.social>a{
    color: white;
    padding: 10px;
    font-size: 20px;
}



/* Liste footer */
h3{
    color: rebeccapurple;
    font-size: 25px;
}

#footer-list{
    list-style: none;
}

#footer-list>li{
    margin: 10px;
}

/* Logo footer, tasto registrazione */
.fondo-footer{
    width: 80%;
    margin: auto;
    padding: 70px;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid rgb(0, 0, 255);
}
.registrazione{
    border-radius: 20px;
    padding: 10px;
}
